<div class=" header-main border-bottom bg-white mx-auto align-content-center">
  <div class="container-fluid row">
    <form [formGroup]="ofertaForm"
          class="buscador"
          (ngSubmit)="onBuscarSubmit()" >
      <div class="row p-2 pt-4 mt-5 pb-3 d-flex justify-content-center">
        <div class="col-md-6">
          <div class="d-flex form-inputs">
            <input class="form-control 75" type="text" (keyup)="onBuscarSubmit()" placeholder="Busca un empleo por su nombre..." formControlName = "searchKey">
            <a class="btn btn-dark px-3" (click)="onBuscarSubmit()">
              <i class="fa fa-search pt-1"></i>
            </a>
            <a [routerLink]="['../nueva-oferta']" class="btn btn-dark">Nueva Oferta</a>
          </div>
        </div>
      </div>
    </form>

    <div ></div>
  </div>
  <div class="d-flex row mx-auto w-75">
    <app-oferta-list [ofertas]="ofertas" [empleador] = true></app-oferta-list>
  </div>
</div>
