<div class="pt-5 mt-5 w-50 mx-auto">
  <ul class="nav nav-tabs me-auto mb-2 mb-lg-0" id="f" role="tablist">
    <li class="nav-item" role="presentation">
      <button class="nav-link" id="activas-tab" (click)="selectEstado(EstadoOferta.ACT)">Activas</button>
    </li>
    <li class="nav-item" role="presentation">
      <button class="nav-link " id="pendientes-tab" (click)="selectEstado(EstadoOferta.PEND)"
              aria-controls="pendientes" aria-selected="true" type="button"  role="tab" >Pendientes</button>
    </li>
    <li class="nav-item" role="presentation">
      <button class="nav-link " id="entrevistas-tab" (click)="selectEstado(EstadoOferta.ENT)"
              aria-controls="home" aria-selected="true" type="button"  role="tab" >Entrevistando</button>
    </li>
    <li class="nav-item" role="presentation">
      <button class="nav-link " id="finalizadas-tab" type="button"  role="tab" (click)="selectEstado(EstadoOferta.FIN)"
              aria-controls="home" aria-selected="true">Finalizadas</button>
    </li>
  </ul>
  <div class="border">
    <app-postulaciones-list [postulaciones]="postulacionesSeleccionadas"></app-postulaciones-list>
  </div>
</div>


